nav li {
    border-radius: 5px;
    display: inline-block;
    background-color: black;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav li:hover {
    background-color: blue;
}

nav ul {
    padding-left: 0pt;
}

nav {
    text-align: center;
    background-color: cadetblue;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

section:last-of-type {
    margin-left: 4%;
}

h2 {
    background-color: cadetblue;
    color: white;
    border-radius: 10px 10px 0 0;
    position: relative;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1pt solid cornflowerblue;
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
}

section ul {
    border: 1pt solid cornflowerblue;
    border-top-width: 0px;
    margin-top: 0px;
    font-family: 'Noto Sans TC', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    height: 5em;
}

footer small::before {
    content: "\00a9";
}

header, main, footer {
    width: 80%;
    margin: 0 10%;
}

footer {
    text-align: right;
}

h1 {
    margin-left: 10%;
    font-size: 42px;
}

span:last-of-type {
    color: blue;
}

p {
    text-align: center;
}